* {
  font-family: "Raleway", sans-serif;
}

.page {
  width: 100%;
}

.container {
  width: 100%;
}

.menu-container {
  color: #3951c5;

  .menu-body {
    .menu-folder {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      .menu-item {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }

  .menu-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    .menu-links {
      padding-left: 10%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .menu-social {
      padding-left: 10%;
      border-top: 1px solid #cccccc;
      margin-top: 5px;
      padding-top: 5px;
      .sharegroup {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        .share {
          padding: 10px;
          padding-top: 5px;
        }
      }
    }

    .menu-info {
      font-size: small;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.container.navbar {
  transition: all 0.3s ease;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-placeholder {
  height: 100px;
  display: none;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  i {
    color: #1351b4;
  }

  .header-title {
    padding-left: 5%;
    font-weight: 400;
    font-size: 85%;
  }

  .logo-gov {
    transition: width 0.3s ease;
    width: 60%;
  }

  .menu-container {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 0;
    right: 100%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    width: 200px;
    border-radius: 8px;
  }

  .dropdown-menu a {
    display: block;
    padding: 8px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
  }

  .dropdown-menu p {
    display: block;
    padding: 8px;
    color: #333;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    background-color: #f0f0f0;
  }
}

.rota {
  padding: 5%;
  padding-bottom: 10%;

  i {
    color: #cccccc;
    font-size: small;
  }

  span {
    padding-left: 2%;
    font-weight: 400;
    font-size: 80%;
  }
}

.autenticar-documento {
  padding: 2%;

  h1 {
    font-size: 25px;
    font-weight: 600;
    color: #0c326f;
  }

  h5 {
    font-size: 90%;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-weight: 300;
    color: #333333;

    b {
      font-size: 90%;
      font-weight: 700;
    }
  }

  .linha-fina {
    font-size: 20px;
    font-weight: 300;
    color: #555555;
  }
}

.box-info {
  margin: 10px;
  margin-bottom: 45px;
  background-color: #fff5c2;

  .message-title {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
  }

  .message-body {
    a {
      color: #1351b4;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  i {
    color: #333333;
  }
}

.footer {
  background-color: #071d41;

  .img-footer {
    width: 50%;
    padding: 10%;
    padding-left: 5%;
  }

  .br-item {
    color: #c5d4eb;

    .content {
      font-size: small;
      margin-bottom: 5px;
      margin-top: 5px;

      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .br-list-item {
    width: 100%;

    .br-item {
      margin-bottom: 5px;
      margin-top: 5px;

      .content {
        margin-bottom: 10px;
        margin-top: 10px;

        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .rota {
    padding: 5%;
    padding-bottom: 5%;
  }

  .footer {
    .img-footer {
      width: 30%;
      padding: 5%;
      padding-left: 5%;
    }
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbar-mobile {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rota {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 0%;
    padding-left: 2%;
    padding-bottom: 0%;
    padding-top: 2%;
  }
  .rota-mobile {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .autenticar-documento {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .autenticar-documento-mobile {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .box-info {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 0px;
    margin-bottom: 0px;
    background-color: white;
  }
  .box-info-mobile {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff5c2;
    margin: 20px;
  }

  .footer {
    .img-footer {
      width: 15%;
      padding: 2%;
      padding-left: 2%;
    }
  }
}
